@import url('../colors/light.css');
@import url('../colors/light-mc.css');
@import url('../colors/light-hc.css');

@import url('../colors/dark.css');
@import url('../colors/dark-mc.css');
@import url('../colors/dark-hc.css');


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../../images/backgrounds/iniciar.png");
}

.contacts {
  margin-right: 100px;
    min-width: calc(60vw - 212px);
  }

  .contacts [slot='header'] {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .contacts .headline {
    flex: 1;
  }

  .contact-content,
  .contact-row {
    display: flex;
    gap: 8px;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-row > * {
    flex: 1;
  }
